<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>To do list</title>
</head>
<body>
    <div class="container">
        <h1> To do list:</h1>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">To do</th>
                        <th scope="col">Description</th>
                        <th scope="col">Is it Done</th>
                        <th scope="col">Deadline</th>
                    </tr>
                </thead>
                <tbody>
                    <tr  th:each="gtd: ${allToDo}">
                        <td th:text="${gtd.getId()}">1</td>
                        <td th:text="${gtd.getToDo()}">Auto</td>
                        <td th:text="${gtd.getDescription()}">Umyc auto</td>
                        <td th:text="${gtd.isItDone()}">false</td>
                        <td th:text="${gtd.getDeadLineDate()}">2020-09-20</td>
                    </tr>
                </tbody>
            </table>
    </div>
</body>
</html>